html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


/* Establecer una fuente por defecto con Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://silicon.createx.studio/assets/img/landing/intro/hero/bg.jpg);
    background-size: 100% 100%;
}


/* Estilo para el header */
header {
    background-color: #0b0f19;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

header div {
    display: flex;
    gap: 3px;
}

header a img {
    width: 8rem;
    object-fit: contain;
    transition: transform 0.3s ease;
}

header a img:hover {
    transform: scale(1.1);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 25px;
}

.menu-icon span {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #6366f1;
    border-radius: 2px;
    transition: 0.3s;
}

.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 10px;
}

.menu-icon span:nth-child(3) {
    top: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

/* Estilo para la barra de navegación */
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;


}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /*  opacity: 1;   */
}

.redes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.redes a {
    color: #ccc;
    transition: transform 0.3s ease;
}

.redes a:hover {
    transform: scale(1.3);
}


#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para la sección de productos */
#productos {
    padding: 2%;
    margin: 5%;
    border-radius: 30px;
    text-align: center;
    color: white;
    background-color: #33354d;
    background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 101, 241, 0.075) 100%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.103) 82.52%);
}

#productos h2 {
    margin: 0 0 5rem;
}

/* .productos-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
} */

.productos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 2rem;
}

.producto {
    margin: 0px;
    padding: 10% 10% 8%;
    border-radius: 30px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #0b0f19;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);




    display: flex;
    flex-direction: column;
    align-items: start;
}

.producto strong {
    padding: 3rem 0 1rem;
}

.producto:hover {
    transform: scale(1.1);
}

.producto img {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 345 / 430;
    object-fit: cover;
    border-radius: 30px;
    display: block;
}

/* Estilo para la sección de reseñas usando Grid */
#reseñas {
    padding: 2rem 0 5rem;
    background-color: #33354d;
    ;
    text-align: center;
    text-size-adjust: auto;
}

.h2reseñas {
    margin: 0 0 5rem;
    color: white;
}

.reseñas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
    /* align-items: center;    */

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
}

.card {
    width: 20rem;
    height: 20rem;
    font-size: 90%;
    padding: 2%;
    background-color: white;
    border: 0.1rem solid #ddd;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-style: italic;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card h2,
p {
    margin: 0;
}

/* Estilo para el formulario de contacto */
#contacto {
    padding: 20px;
    margin: 10% 0;
    display: flex;
    justify-content: center;
}

.form-contacto {
    background-color: #0b0f19;
    border-radius: 20px;
    padding: 3rem;
    color: white;
    width: 50%;
    text-align: center;
}

.form-contacto h2 {
    margin: 0 0 3rem;
}

form {
    text-align: left;
    background-color: #33354d28;
    background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 101, 241, 0.062) 100%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.103) 82.52%);
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2rem 0;
}


form input,
form textarea {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;

    min-width: 0%;

    width: 100%vw;
}

form textarea {
    min-height: 1rem;
}

form button {
    margin-top: 40px;
    padding: 20px 10px;
    background-color: #6366f1;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    position: relative;
    left: 10%;
    width: 80%;
}

form button:hover {
    background-color: #4044ee;
    transform: scale(1.05);

}

/* Estilo para el footer */
footer {
    background-color: #33333300;
    color: white;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.boton-subir {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #333333;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 1000;
    transition: background-color 0.3s;
    opacity: 0.3;
    transition: opacity 0.3s;

}

.boton-subir:hover {
    background-color: #333333;
    opacity: 1;
}

.carrusel {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    animation: slide 15s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
}

/* Animación que recorre las imágenes */
@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%)
    }
}

/* Radio buttons */
input[type="radio"] {
    display: none;
}

/* Contenedor de los radios */
.navegacion {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navegacion label {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
    cursor: pointer;
}

/* Mostrar slide correspondiente */
#s1:checked~.slides {
    transform: translateX(0%);
}

#s2:checked~.slides {
    transform: translateX(-100%);
}

#s3:checked~.slides {
    transform: translateX(-200%);
}

#s4:checked~.slides {
    transform: translateX(-300%);
}

/* Indicador activo */
#s1:checked~.navegacion label[for="s1"],
#s2:checked~.navegacion label[for="s2"],
#s3:checked~.navegacion label[for="s3"],
#s4:checked~.navegacion label[for="s4"] {
    opacity: 1;
    background: #333;
}

/* Media Queries para adaptabilidad en tablets */
@media (max-width: 992px) {
    .productos-container {
        flex-direction: column;
        align-items: center;
    }

    .reseñas-container {
        grid-template-columns: 1fr;
    }


    .form-contacto {
        width: 85%;
    }
}

/* CELULAR */
@media (max-width: 600px) {
    nav {
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #0b0f19;
        transform: translateY(-130%);
        transition: transform 0.3s ease-in-out;
    }

    #menu-toggle:checked~nav {
        transform: translateY(0);
    }

    .menu-icon {
        display: block;
    }

    nav a {
        padding: 15px;
    }

    /* Animación del icono cuando se activa */
    #menu-toggle:checked+.menu-icon span:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
    }

    #menu-toggle:checked+.menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked+.menu-icon span:nth-child(3) {
        transform: rotate(-45deg);
        top: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 30px;
        margin: 20px 0 50px;
        font-size: 25px;
    }

    .redes a svg {
        display: none;
        width: 0;
    }

    .boton-subir {
        display: none;
    }

    #productos {
        padding: 1rem 2rem 2rem;
    }

    #productos h2 {
        margin-bottom: 2rem;
    }

    .productos-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .producto {
        font-size: 0.5rem;
        padding: 1rem;
        border-radius: 10px;
    }

    .producto img {
        border-radius: 5px;
    }

    .producto strong {
        padding: 1rem 0 0.5rem;
    }
}

@media ((min-width: 600px) and (max-width: 1024px)) {
    .producto {
        font-size: 0.5rem;
    }
}