html {
  scroll-behavior: smooth;
}


/* Establecer una fuente por defecto con Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8cac3;
}

/* Estilo para el header */
header {
    background-color: #4d303b;
    color: white;
    width: 100%;
    padding: 20px 0px;
    text-align: center;   
    
    /* position: sticky;    
    top: -1px; */
}



/* Estilo para la barra de navegación */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    gap: 100px;

   
}

nav ul li {
    display: inline-block;
    margin: 0 10px;    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
}

nav ul li a:hover {    
    background-color: rgba(255, 255, 255, 0.2);
   /*  opacity: 1;   */  
}

.bienvenida h2{   
    text-align: center;  
    margin: 90px auto;
    background-color: #4d303b;
    color: white;
    width: 600px;
    border-radius: 20px;
    padding: 30px;
}

.bienvenida img {   
    width: 60%;
}

/* Estilo para la sección de productos */
#productos {
    padding: 10% 0;
    padding-top: 10px;
    text-align: center;
    margin: 5%;
    border-radius: 30px;
    background-color: #f8d6d1;
}

#productos h2{
    
    margin: 100px;
    
    
}

.productos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

    
    
}

.producto {
    text-align: center;
    margin: 0px;
    padding: 50px;
    padding-bottom: 0;
    border-radius: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer;
    background-color: #d69098;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.producto p {
    padding-top: 50px;
    
}

.producto:hover {
   transform: scale(1.1);
}

.producto img {
    width: 300px;
    height: 350px;
    border-radius: 30px;    
}

/* Estilo para la sección de reseñas usando Grid */
#reseñas {
    padding: 10% 10%;
    padding-top: 20px;
    margin: 0px 5%;
    border-radius: 30px;
    background-color: #f8d6d1;
    text-align: center;
}

.reseñas-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 100px;   
}

.card {
    padding: 20px;
    margin-top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 30px;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-style: italic;
}

/* Estilo para el formulario de contacto */
#contacto {
    padding: 20px;
    margin: 10% 0;
    /* text-align: center; */
    /* background-color: #95656e;     */
    display: flex;
    justify-content: center;
}

.form-contacto{
    background-color: #95656e;
    border-radius: 20px;
    padding-bottom: 40px;
    color: white;
    width: 50%;
    text-align: center;    
}

form {
    padding: 50px;    
    background-color: #d69098;
    border-radius: 10px;    

    display: grid;    
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}


form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;   
    resize: none;  
}

form textarea {
    min-height: 80px;       
}

form button {
    margin-top: 40px;
    padding: 20px 10px;    
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;   
    transition: background-color 0.3s, transform 0.3s;  
}

form button:hover {      
    background-color: #347a3e;
    transform: scale(1.05);
         
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.boton-subir {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #40a04ddc;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 1000;
    transition: background-color 0.3s;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.boton-subir:hover {
    background-color: #40a04ddc;
    opacity: 1;
}

.carrusel {
      width: 100%;
      max-width: 70%;
      margin: auto;
      position: relative;
      overflow: hidden;
      border-radius: 10px;

      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
    }

    .slides {
      display: flex;
      width: 100%;
      transition: transform 0.5s ease-in-out;
    }

    .slide {
      width: 100%;
      flex-shrink: 0;
    }

    .slide img {
      width: 100%;
      display: block;
    }

    /* Radio buttons */
    input[type="radio"] {
      display: none;
    }

    /* Contenedor de los radios */
    .navegacion {
      position: absolute;
      width: 100%;
      bottom: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .navegacion label {
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: white;
      opacity: 0.5;
      cursor: pointer;
    }

    /* Mostrar slide correspondiente */
    #s1:checked ~ .slides {
      transform: translateX(0%);
    }

    #s2:checked ~ .slides {
      transform: translateX(-100%);
    }

    #s3:checked ~ .slides {
      transform: translateX(-200%);
    }

    #s4:checked ~ .slides {
      transform: translateX(-300%);
    }

    /* Indicador activo */
    #s1:checked ~ .navegacion label[for="s1"],
    #s2:checked ~ .navegacion label[for="s2"],
    #s3:checked ~ .navegacion label[for="s3"],
    #s4:checked ~ .navegacion label[for="s4"] {
      opacity: 1;
      background: #333;
    }

/* Media Queries para adaptabilidad en pantallas pequeñas */
@media (max-width: 768px) {
    .productos-container {
        flex-direction: column;
        align-items: center;
    }

    .reseñas-container {
        grid-template-columns: 1fr;
    }

    form {
        padding: 10px;
    }

    nav ul {
   flex-direction: column;
   gap: 10px;
}
}
