html {
    scroll-behavior: smooth;
}


/* Establecer una fuente por defecto con Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8cac3;
}

/* Estilo para el header */
header {
    background-color: #4d303b;
    color: white;
    box-sizing: border-box;
    width: 100vw;
    padding: 1%;
    display: flex;    
    /* position: sticky;    
    top: -1px; */
}

header a img {
    width: 8rem;
}

nav {
    width: 50vh;
    padding-left: 3rem;
    display: flex;
    justify-content: flex-start;

}

/* Estilo para la barra de navegación */
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;


}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /*  opacity: 1;   */
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio h2 {
    background-color: #4d303b;
    color: white;
    width: 50%;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 5rem 0 2rem;
    text-align: center;
}


/* Estilo para la sección de productos */
#productos {
    padding: 2%;
    margin: 5%;
    border-radius: 30px;
    background-color: #f8d6d1;
    text-align: center;
}

#productos h2 {
    margin: 0 0 5rem;
}

.productos-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.producto {
    text-align: center;
    margin: 0px;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #d69098;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    
}

.producto p {
    padding: 1rem;

}

.producto:hover {
    transform: scale(1.1);
}

.producto img {
    width: 20rem;
    height: 23rem;
    margin: 2rem;
    border-radius: 30px;
}

/* Estilo para la sección de reseñas usando Grid */
#reseñas {
    padding: 2%;
    margin: 0px 5%;
    border-radius: 30px;
    background-color: #f8d6d1;
    text-align: center;
}

.h2reseñas {
    margin: 0 0 5rem;
}

.reseñas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    /* align-items: center;    */

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
}



.card {
    width: 20rem;
    height: 20rem;

    padding: 2%;
    background-color: white;
    border: 0.1rem solid #ddd;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-style: italic;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card h2,
p {
    margin: 0;
}

/* Estilo para el formulario de contacto */
#contacto {
    padding: 20px;
    margin: 10% 0;
    display: flex;
    justify-content: center;
}

.form-contacto {
    background-color: #95656e;
    border-radius: 20px;
    padding: 3rem;
    color: white;
    width: 50%;
    text-align: center;
}

.form-contacto h2 {
    margin: 0 0 3rem;
}

form {
    text-align: left;
    background-color: #d69098;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2rem 0;
}


form input,
form textarea {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;

    min-width: 0%;

    width: 100%vw;
}

form textarea {
    min-height: 1rem;
}

form button {
    margin-top: 40px;
    padding: 20px 10px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #347a3e;
    transform: scale(1.05);

}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.boton-subir {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #40a04ddc;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 1000;
    transition: background-color 0.3s;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.boton-subir:hover {
    background-color: #40a04ddc;
    opacity: 1;
}

.carrusel {
    width: 100%;
    max-width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
}

/* Radio buttons */
input[type="radio"] {
    display: none;
}

/* Contenedor de los radios */
.navegacion {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navegacion label {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
    cursor: pointer;
}

/* Mostrar slide correspondiente */
#s1:checked~.slides {
    transform: translateX(0%);
}

#s2:checked~.slides {
    transform: translateX(-100%);
}

#s3:checked~.slides {
    transform: translateX(-200%);
}

#s4:checked~.slides {
    transform: translateX(-300%);
}

/* Indicador activo */
#s1:checked~.navegacion label[for="s1"],
#s2:checked~.navegacion label[for="s2"],
#s3:checked~.navegacion label[for="s3"],
#s4:checked~.navegacion label[for="s4"] {
    opacity: 1;
    background: #333;
}

/* Media Queries para adaptabilidad en pantallas pequeñas */
@media (max-width: 767px) {
    .productos-container {
        flex-direction: column;
        align-items: center;
    }

    .reseñas-container {
        grid-template-columns: 1fr;
    }


    .form-contacto {
        width: 85%;
    }
}


@media (max-width: 500px) {
    header{
        justify-content: center;
    }

    nav{
        padding: 0;        
        justify-content: center;
    }

    nav ul {
        flex-direction: column;                
        gap: 10px;
    }

    header a img {
        width: 0px;
    }
}